@font-face {
    font-family: 'MeteoconsRegular';
    src: url("meteocons-webfont.eot");
    src: url("meteocons-webfont.eot?#iefix") format("embedded-opentype"), url("meteocons-webfont.woff") format("woff"), url("meteocons-webfont.ttf") format("truetype"), url("meteocons-webfont.svg#MeteoconsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: url("fontawesome-webfont.eot?v=3.2.1");
    src: url("fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("fontawesome-webfont.woff?v=3.2.1") format("woff"), url("fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}